In [2]:
import pandas as pd 

df = pd.read_table('../raw_data/D3_prison_capacity.tsv', sep='\t', header=0)
df

,"freq,indic_cr,unit,geo\TIME_PERIOD",2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"A,PRIS_ACT_CAP,NR,AL",4659,4618,4998,5689,5981,6031,5674,5316,5045,4614
1,"A,PRIS_ACT_CAP,NR,AT",8770,8805,8862,8692,8665,8619,8852,9163,9072,8488
2,"A,PRIS_ACT_CAP,NR,BA",2757,:,2898,2825,2730,2832,2820,4377,4482,4097
3,"A,PRIS_ACT_CAP,NR,BE",11040,11183,11818,:,10994,:,10471,10261,10559,10381
4,"A,PRIS_ACT_CAP,NR,BG",9885,9493,8834,7870,7408,7345,6988,6651,6448,6251
...,...,...,...,...,...,...,...,...,...,...,...
157,"A,PRIS_OFF_CAP,P_HTHAB,SK",207.72,209.17,218.30,218.39,206.30,203.33,201.29,211.26,213.29,213.00
158,"A,PRIS_OFF_CAP,P_HTHAB,TR",158.37,190.65,203.78,212.77,228.63,257.39,261.58,264.65,292.33,294.87
159,"A,PRIS_OFF_CAP,P_HTHAB,UKC-L",164.86,164.86,155.83,156.95,154.52,153.39,151.72,150.08,:,:
160,"A,PRIS_OFF_CAP,P_HTHAB,UKN",97.54,97.03,104.29,104.18,97.07,:,:,98.88,:,:
161,"A,PRIS_OFF_CAP,P_HTHAB,XK",82.71,:,:,:,:,129.26,128.40,87.13,144.24,143.20

In [3]:
to_sep = pd.DataFrame(df.iloc[:,0])
to_sep

    freq,indic_cr,unit,geo\TIME_PERIOD
0                 A,PRIS_ACT_CAP,NR,AL
1                 A,PRIS_ACT_CAP,NR,AT
2                 A,PRIS_ACT_CAP,NR,BA
3                 A,PRIS_ACT_CAP,NR,BE
4                 A,PRIS_ACT_CAP,NR,BG
..                                 ...
157          A,PRIS_OFF_CAP,P_HTHAB,SK
158          A,PRIS_OFF_CAP,P_HTHAB,TR
159       A,PRIS_OFF_CAP,P_HTHAB,UKC-L
160         A,PRIS_OFF_CAP,P_HTHAB,UKN
161          A,PRIS_OFF_CAP,P_HTHAB,XK

[162 rows x 1 columns]

In [4]:
to_sep[['freq','indic_cr','unit','geo']] = to_sep["freq,indic_cr,unit,geo\TIME_PERIOD"].str.split(",", expand = True)
to_sep

    freq,indic_cr,unit,geo\TIME_PERIOD freq      indic_cr     unit    geo
0                 A,PRIS_ACT_CAP,NR,AL    A  PRIS_ACT_CAP       NR     AL
1                 A,PRIS_ACT_CAP,NR,AT    A  PRIS_ACT_CAP       NR     AT
2                 A,PRIS_ACT_CAP,NR,BA    A  PRIS_ACT_CAP       NR     BA
3                 A,PRIS_ACT_CAP,NR,BE    A  PRIS_ACT_CAP       NR     BE
4                 A,PRIS_ACT_CAP,NR,BG    A  PRIS_ACT_CAP       NR     BG
..                                 ...  ...           ...      ...    ...
157          A,PRIS_OFF_CAP,P_HTHAB,SK    A  PRIS_OFF_CAP  P_HTHAB     SK
158          A,PRIS_OFF_CAP,P_HTHAB,TR    A  PRIS_OFF_CAP  P_HTHAB     TR
159       A,PRIS_OFF_CAP,P_HTHAB,UKC-L    A  PRIS_OFF_CAP  P_HTHAB  UKC-L
160         A,PRIS_OFF_CAP,P_HTHAB,UKN    A  PRIS_OFF_CAP  P_HTHAB    UKN
161          A,PRIS_OFF_CAP,P_HTHAB,XK    A  PRIS_OFF_CAP  P_HTHAB     XK

[162 rows x 5 columns]

In [5]:
df = to_sep.merge(df, left_index=True, right_index=True)
df = df.drop(columns=["freq,indic_cr,unit,geo\TIME_PERIOD_x", "freq,indic_cr,unit,geo\TIME_PERIOD_y"])
df

,freq,indic_cr,unit,geo,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,PRIS_ACT_CAP,NR,AL,4659,4618,4998,5689,5981,6031,5674,5316,5045,4614
1,A,PRIS_ACT_CAP,NR,AT,8770,8805,8862,8692,8665,8619,8852,9163,9072,8488
2,A,PRIS_ACT_CAP,NR,BA,2757,:,2898,2825,2730,2832,2820,4377,4482,4097
3,A,PRIS_ACT_CAP,NR,BE,11040,11183,11818,:,10994,:,10471,10261,10559,10381
4,A,PRIS_ACT_CAP,NR,BG,9885,9493,8834,7870,7408,7345,6988,6651,6448,6251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,A,PRIS_OFF_CAP,P_HTHAB,SK,207.72,209.17,218.30,218.39,206.30,203.33,201.29,211.26,213.29,213.00
158,A,PRIS_OFF_CAP,P_HTHAB,TR,158.37,190.65,203.78,212.77,228.63,257.39,261.58,264.65,292.33,294.87
159,A,PRIS_OFF_CAP,P_HTHAB,UKC-L,164.86,164.86,155.83,156.95,154.52,153.39,151.72,150.08,:,:
160,A,PRIS_OFF_CAP,P_HTHAB,UKN,97.54,97.03,104.29,104.18,97.07,:,:,98.88,:,:
161,A,PRIS_OFF_CAP,P_HTHAB,XK,82.71,:,:,:,:,129.26,128.40,87.13,144.24,143.20

In [6]:
df.reset_index().T.drop_duplicates().T

,index,freq,indic_cr,unit,geo,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,A,PRIS_ACT_CAP,NR,AL,4659,4618,4998,5689,5981,6031,5674,5316,5045,4614
1,1,A,PRIS_ACT_CAP,NR,AT,8770,8805,8862,8692,8665,8619,8852,9163,9072,8488
2,2,A,PRIS_ACT_CAP,NR,BA,2757,:,2898,2825,2730,2832,2820,4377,4482,4097
3,3,A,PRIS_ACT_CAP,NR,BE,11040,11183,11818,:,10994,:,10471,10261,10559,10381
4,4,A,PRIS_ACT_CAP,NR,BG,9885,9493,8834,7870,7408,7345,6988,6651,6448,6251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,A,PRIS_OFF_CAP,P_HTHAB,SK,207.72,209.17,218.30,218.39,206.30,203.33,201.29,211.26,213.29,213.00
158,158,A,PRIS_OFF_CAP,P_HTHAB,TR,158.37,190.65,203.78,212.77,228.63,257.39,261.58,264.65,292.33,294.87
159,159,A,PRIS_OFF_CAP,P_HTHAB,UKC-L,164.86,164.86,155.83,156.95,154.52,153.39,151.72,150.08,:,:
160,160,A,PRIS_OFF_CAP,P_HTHAB,UKN,97.54,97.03,104.29,104.18,97.07,:,:,98.88,:,:
161,161,A,PRIS_OFF_CAP,P_HTHAB,XK,82.71,:,:,:,:,129.26,128.40,87.13,144.24,143.20

In [9]:
cleandf = df.drop(columns=['freq']) 

cleandf

,indic_cr,unit,geo,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,PRIS_ACT_CAP,NR,AL,4659,4618,4998,5689,5981,6031,5674,5316,5045,4614
1,PRIS_ACT_CAP,NR,AT,8770,8805,8862,8692,8665,8619,8852,9163,9072,8488
2,PRIS_ACT_CAP,NR,BA,2757,:,2898,2825,2730,2832,2820,4377,4482,4097
3,PRIS_ACT_CAP,NR,BE,11040,11183,11818,:,10994,:,10471,10261,10559,10381
4,PRIS_ACT_CAP,NR,BG,9885,9493,8834,7870,7408,7345,6988,6651,6448,6251
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,PRIS_OFF_CAP,P_HTHAB,SK,207.72,209.17,218.30,218.39,206.30,203.33,201.29,211.26,213.29,213.00
158,PRIS_OFF_CAP,P_HTHAB,TR,158.37,190.65,203.78,212.77,228.63,257.39,261.58,264.65,292.33,294.87
159,PRIS_OFF_CAP,P_HTHAB,UKC-L,164.86,164.86,155.83,156.95,154.52,153.39,151.72,150.08,:,:
160,PRIS_OFF_CAP,P_HTHAB,UKN,97.54,97.03,104.29,104.18,97.07,:,:,98.88,:,:
161,PRIS_OFF_CAP,P_HTHAB,XK,82.71,:,:,:,:,129.26,128.40,87.13,144.24,143.20

In [10]:
cleandf.rename(
    columns={"unit_x":"Unit", "geo_x": "Geo"}, 
    inplace=True)
cleandf

,indic_cr,unit,geo,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,PRIS_ACT_CAP,NR,AL,4659,4618,4998,5689,5981,6031,5674,5316,5045,4614
1,PRIS_ACT_CAP,NR,AT,8770,8805,8862,8692,8665,8619,8852,9163,9072,8488
2,PRIS_ACT_CAP,NR,BA,2757,:,2898,2825,2730,2832,2820,4377,4482,4097
3,PRIS_ACT_CAP,NR,BE,11040,11183,11818,:,10994,:,10471,10261,10559,10381
4,PRIS_ACT_CAP,NR,BG,9885,9493,8834,7870,7408,7345,6988,6651,6448,6251
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,PRIS_OFF_CAP,P_HTHAB,SK,207.72,209.17,218.30,218.39,206.30,203.33,201.29,211.26,213.29,213.00
158,PRIS_OFF_CAP,P_HTHAB,TR,158.37,190.65,203.78,212.77,228.63,257.39,261.58,264.65,292.33,294.87
159,PRIS_OFF_CAP,P_HTHAB,UKC-L,164.86,164.86,155.83,156.95,154.52,153.39,151.72,150.08,:,:
160,PRIS_OFF_CAP,P_HTHAB,UKN,97.54,97.03,104.29,104.18,97.07,:,:,98.88,:,:
161,PRIS_OFF_CAP,P_HTHAB,XK,82.71,:,:,:,:,129.26,128.40,87.13,144.24,143.20

In [ ]:
cleandf.to_csv('./clean_datasets/D3_clean.csv', index=False)