# D7 Cleaning

Contents:
##### Unit
- **PC_GDP**: Percentage of Gross Domestic Product
- **MIO_EUR**: Millior Euro
##### Freq
- **A**: Annual
##### Sector
- **S13**: General Government
- **S1311**: Central Government
- **S1312**: State Government
- **S1313**: Local Government
- **S1314**: Social Security Funds
#### na_item (National Account Indicator)
- **TE**: Total general government ecpenditure
##### cofog_99 (Classification of the functions of government)
- View section "Filter gov functions"

In [2]:
import pandas as pd

df = pd.read_table('../raw_data/D6_general_governments_expenditure.tsv', sep='\t', header=0)
df

,"freq,unit,sector,cofog99,na_item,geo\TIME_PERIOD",2015,2016,2017,2018,2019,2020,2021
0,"A,MIO_EUR,S13,GF01,TE,AT",23388.9,23109.4,22172.9,22773.2,22851.4,23419.4,23502.8
1,"A,MIO_EUR,S13,GF01,TE,BE",33422.2,34096.0,31904.8,32561.0,32823.9,33771.3,34976.9
2,"A,MIO_EUR,S13,GF01,TE,BG",1725.8,1729.7,1665.6,2058.0,2198.9,2283.2,2489.6
3,"A,MIO_EUR,S13,GF01,TE,CH",28712.9,27810.3,28326.6,27125.1,27922.2,29662.3,29326.7
4,"A,MIO_EUR,S13,GF01,TE,CY",1623.8,1486.6,1487.7,1508.8,1662.6,1639.3,1647.6
...,...,...,...,...,...,...,...,...
23635,"A,PC_GDP,S1314,TOTAL,TE,PT",12.8,12.5,12.1,12.0,12.1,14.5,13.9 p
23636,"A,PC_GDP,S1314,TOTAL,TE,RO",11.1,10.5,10.4,10.5,10.8,12.8,12.2
23637,"A,PC_GDP,S1314,TOTAL,TE,SE",6.3,6.5,6.5,6.4,6.3,6.6,6.2
23638,"A,PC_GDP,S1314,TOTAL,TE,SI",19.1,18.8,18.1,17.9,17.8,19.5,18.7
23639,"A,PC_GDP,S1314,TOTAL,TE,SK",14.1,14.6,14.4,14.7,14.5,16.0,16.0

In [3]:
to_sep = pd.DataFrame(df.iloc[:,0])
to_sep

      freq,unit,sector,cofog99,na_item,geo\TIME_PERIOD
0                             A,MIO_EUR,S13,GF01,TE,AT
1                             A,MIO_EUR,S13,GF01,TE,BE
2                             A,MIO_EUR,S13,GF01,TE,BG
3                             A,MIO_EUR,S13,GF01,TE,CH
4                             A,MIO_EUR,S13,GF01,TE,CY
...                                                ...
23635                       A,PC_GDP,S1314,TOTAL,TE,PT
23636                       A,PC_GDP,S1314,TOTAL,TE,RO
23637                       A,PC_GDP,S1314,TOTAL,TE,SE
23638                       A,PC_GDP,S1314,TOTAL,TE,SI
23639                       A,PC_GDP,S1314,TOTAL,TE,SK

[23640 rows x 1 columns]

In [4]:
to_sep[['freq','unit','sector','cofog99','na_item','geo']] = to_sep["freq,unit,sector,cofog99,na_item,geo\TIME_PERIOD"].str.split(",", expand=True)
to_sep

,"freq,unit,sector,cofog99,na_item,geo\TIME_PERIOD",freq,unit,sector,cofog99,na_item,geo
0,"A,MIO_EUR,S13,GF01,TE,AT",A,MIO_EUR,S13,GF01,TE,AT
1,"A,MIO_EUR,S13,GF01,TE,BE",A,MIO_EUR,S13,GF01,TE,BE
2,"A,MIO_EUR,S13,GF01,TE,BG",A,MIO_EUR,S13,GF01,TE,BG
3,"A,MIO_EUR,S13,GF01,TE,CH",A,MIO_EUR,S13,GF01,TE,CH
4,"A,MIO_EUR,S13,GF01,TE,CY",A,MIO_EUR,S13,GF01,TE,CY
...,...,...,...,...,...,...,...
23635,"A,PC_GDP,S1314,TOTAL,TE,PT",A,PC_GDP,S1314,TOTAL,TE,PT
23636,"A,PC_GDP,S1314,TOTAL,TE,RO",A,PC_GDP,S1314,TOTAL,TE,RO
23637,"A,PC_GDP,S1314,TOTAL,TE,SE",A,PC_GDP,S1314,TOTAL,TE,SE
23638,"A,PC_GDP,S1314,TOTAL,TE,SI",A,PC_GDP,S1314,TOTAL,TE,SI
23639,"A,PC_GDP,S1314,TOTAL,TE,SK",A,PC_GDP,S1314,TOTAL,TE,SK

In [5]:
df = to_sep.merge(df, left_index=True, right_index=True)
df = df.drop(columns=['freq,unit,sector,cofog99,na_item,geo\TIME_PERIOD_x','freq,unit,sector,cofog99,na_item,geo\TIME_PERIOD_y'])
df

,freq,unit,sector,cofog99,na_item,geo,2015,2016,2017,2018,2019,2020,2021
0,A,MIO_EUR,S13,GF01,TE,AT,23388.9,23109.4,22172.9,22773.2,22851.4,23419.4,23502.8
1,A,MIO_EUR,S13,GF01,TE,BE,33422.2,34096.0,31904.8,32561.0,32823.9,33771.3,34976.9
2,A,MIO_EUR,S13,GF01,TE,BG,1725.8,1729.7,1665.6,2058.0,2198.9,2283.2,2489.6
3,A,MIO_EUR,S13,GF01,TE,CH,28712.9,27810.3,28326.6,27125.1,27922.2,29662.3,29326.7
4,A,MIO_EUR,S13,GF01,TE,CY,1623.8,1486.6,1487.7,1508.8,1662.6,1639.3,1647.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23635,A,PC_GDP,S1314,TOTAL,TE,PT,12.8,12.5,12.1,12.0,12.1,14.5,13.9 p
23636,A,PC_GDP,S1314,TOTAL,TE,RO,11.1,10.5,10.4,10.5,10.8,12.8,12.2
23637,A,PC_GDP,S1314,TOTAL,TE,SE,6.3,6.5,6.5,6.4,6.3,6.6,6.2
23638,A,PC_GDP,S1314,TOTAL,TE,SI,19.1,18.8,18.1,17.9,17.8,19.5,18.7
23639,A,PC_GDP,S1314,TOTAL,TE,SK,14.1,14.6,14.4,14.7,14.5,16.0,16.0

## Filter gov functions

The available values are:
- [<font color=crimson>**TOTAL**</font>] Total
- [<font color=crimson>**GF01**</font>] General public services
- [<font color=crimson>**GF0101**</font>] Executive and legislative organs, financial and fiscal affairs, external affairs
- [<font color=crimson>**GF0102**</font>] Foreign economic aid
- [<font color=crimson>**GF0103**</font>] General services
- [<font color=crimson>**GF0104**</font>] Basic research
- [<font color=crimson>**GF0105**</font>] R&D General public services
- [<font color=crimson>**GF0106**</font>] General public services n.e.c.
- [<font color=crimson>**GF0107**</font>] Public debt transactions
- [<font color=crimson>**GF0108**</font>] Transfers of a general character between different levels of government
- [<font color=crimson>**GF02**</font>] Defence
- [<font color=crimson>**GF0201**</font>] Military defence
- [<font color=crimson>**GF0202**</font>] Civil defence
- [<font color=crimson>**GF0203**</font>] Foreign military aid
- [<font color=crimson>**GF0204**</font>] R&D Defence
- [<font color=crimson>**GF0205**</font>] Defence n.e.c.
- [<font color=crimson>**GF03**</font>] Public order and safety
- [<font color=crimson>**GF0301**</font>] Police services
- [<font color=crimson>**GF0302**</font>] Fire-protection services
- [<font color=crimson>**GF0303**</font>] Law courts
- [<font color=crimson>**GF0304**</font>] Prisons
- [<font color=crimson>**GF0305**</font>] R&D Public order and safety
- [<font color=crimson>**GF0306**</font>] Public order and safety n.e.c.
- [<font color=crimson>**GF04**</font>] Economic affairs
- [<font color=crimson>**GF0401**</font>] General economic, commercial and labour affairs
- [<font color=crimson>**GF0402**</font>] Agriculture, forestry, fishing and hunting
- [<font color=crimson>**GF0403**</font>] Fuel and energy
- [<font color=crimson>**GF0404**</font>] Mining, manufacturing and construction
- [<font color=crimson>**GF0405**</font>] Transport
- [<font color=crimson>**GF0406**</font>] Communication
- [<font color=crimson>**GF0407**</font>] Other industries
- [<font color=crimson>**GF0408**</font>] R&D Economic affairs
- [<font color=crimson>**GF0409**</font>] Economic affairs n.e.c. 
- [<font color=crimson>**GF05**</font>] Environmental protection
- [<font color=crimson>**GF0501**</font>] Waste management
- [<font color=crimson>**GF0502**</font>] Waste water management
- [<font color=crimson>**GF0503**</font>] Pollution abatement
- [<font color=crimson>**GF0504**</font>] Protection of biodiversity and landscape
- [<font color=crimson>**GF0505**</font>] R&D Environmental protection
- [<font color=crimson>**GF0506**</font>] Environmental protection n.e.c.
- [<font color=crimson>**GF06**</font>] Housing and community amenities 
- [<font color=crimson>**GF0601**</font>] Housing development 
- [<font color=crimson>**GF0602**</font>] Community development 
- [<font color=crimson>**GF0603**</font>] Water supply
- [<font color=crimson>**GF0604**</font>] Street lighting
- [<font color=crimson>**GF0605**</font>] R&D Housing and community amenities
- [<font color=crimson>**GF0606**</font>] Housing and community amenities n.e.c.
- [<font color=crimson>**GF07**</font>] Health
- [<font color=crimson>**GF0701**</font>] Medical products, appliances and equipment
- [<font color=crimson>**GF0702**</font>] Outpatient services
- [<font color=crimson>**GF0703**</font>] Hospital services
- [<font color=crimson>**GF0704**</font>] Public health services
- [<font color=crimson>**GF0705**</font>] R&D Health
- [<font color=crimson>**GF0706**</font>] Health n.e.c.
- [<font color=crimson>**GF08**</font>] Recreation, culture and religion
- [<font color=crimson>**GF0801**</font>] Recreational and sporting services
- [<font color=crimson>**GF0802**</font>] Cultural services 
- [<font color=crimson>**GF0803**</font>] Broadcasting and publishing services
- [<font color=crimson>**GF0804**</font>] Religious and other community services
- [<font color=crimson>**GF0805**</font>] R&D Recreation, culture and religion
- [<font color=crimson>**GF0806**</font>] Recreation, culture and religion n.e.c.
- [<font color=crimson>**GF09**</font>] Education
- [<font color=crimson>**GF0901**</font>] Pre-primary and primary education
- [<font color=crimson>**GF0902**</font>] Secondary education
- [<font color=crimson>**GF0903**</font>] Post-secondary non-tertiary education
- [<font color=crimson>**GF0904**</font>] Tertiary education 
- [<font color=crimson>**GF0905**</font>] Education not definable by level
- [<font color=crimson>**GF0906**</font>] Subsidiary services to education
- [<font color=crimson>**GF0907**</font>] R&D Education
- [<font color=crimson>**GF0908**</font>] Education n.e.c.
- [<font color=crimson>**GF10**</font>] Social protection
- [<font color=crimson>**GF1001**</font>] Sickness and disability
- [<font color=crimson>**GF1002**</font>] Old age
- [<font color=crimson>**GF1003**</font>] Survivors
- [<font color=crimson>**GF1004**</font>] Family and children
- [<font color=crimson>**GF1005**</font>] Unemployment
- [<font color=crimson>**GF1006**</font>] Housing
- [<font color=crimson>**GF1007**</font>] Social exclusion n.e.c.
- [<font color=crimson>**GF1008**</font>] R&D Social protection
- [<font color=crimson>**GF1009**</font>] Social protection n.e.c.

We filter the dataframe's rows to maintain only the ones related to our analysis, meaning:
- [<font color=crimson>**GF03**</font>] Public order and safety
- [<font color=crimson>**GF0301**</font>] Police services
- [<font color=crimson>**GF0303**</font>] Law courts
- [<font color=crimson>**GF0304**</font>] Prisons
- [<font color=crimson>**GF0305**</font>] R&D Public order and safety
- [<font color=crimson>**GF0306**</font>] Public order and safety n.e.c.

In [6]:
filtered_df = df.query("cofog99 == 'GF03' or cofog99 == 'GF0301' or cofog99 == 'GF0303' or cofog99 == 'GF0304' or cofog99 == 'GF0305' or cofog99 == 'GF0306'")
filtered_df

,freq,unit,sector,cofog99,na_item,geo,2015,2016,2017,2018,2019,2020,2021
495,A,MIO_EUR,S13,GF03,TE,AT,4624.5,4805.4,5039.2,5226.3,5301.8,5436.8,5695.6
496,A,MIO_EUR,S13,GF03,TE,BE,7166.7,7298.0,7512.9,7965.6,8075.3,8298.4,8811.8
497,A,MIO_EUR,S13,GF03,TE,BG,1279.4,1113.4,1296.9,1378.0,1633.0,1670.3,1914.1
498,A,MIO_EUR,S13,GF03,TE,CH,10327.2,10173.8,10196.3,10105.3,10731.1,11289.0,11320.2
499,A,MIO_EUR,S13,GF03,TE,CY,304.9,309.0,329.3,361.8,379.8,400.6,410.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21971,A,PC_GDP,S1314,GF0306,TE,PT,: z,: z,: z,: z,: z,: z,: z
21972,A,PC_GDP,S1314,GF0306,TE,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21973,A,PC_GDP,S1314,GF0306,TE,SE,: z,: z,: z,: z,: z,: z,: z
21974,A,PC_GDP,S1314,GF0306,TE,SI,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21975,A,PC_GDP,S1314,GF0306,TE,SK,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Since the frequency is annual for all the entries, we can delete the resective column. The same is done for `na_item`.

In [7]:
filtered_df = filtered_df.drop(columns=['freq', 'na_item'])
filtered_df

,unit,sector,cofog99,geo,2015,2016,2017,2018,2019,2020,2021
495,MIO_EUR,S13,GF03,AT,4624.5,4805.4,5039.2,5226.3,5301.8,5436.8,5695.6
496,MIO_EUR,S13,GF03,BE,7166.7,7298.0,7512.9,7965.6,8075.3,8298.4,8811.8
497,MIO_EUR,S13,GF03,BG,1279.4,1113.4,1296.9,1378.0,1633.0,1670.3,1914.1
498,MIO_EUR,S13,GF03,CH,10327.2,10173.8,10196.3,10105.3,10731.1,11289.0,11320.2
499,MIO_EUR,S13,GF03,CY,304.9,309.0,329.3,361.8,379.8,400.6,410.0
...,...,...,...,...,...,...,...,...,...,...,...
21971,PC_GDP,S1314,GF0306,PT,: z,: z,: z,: z,: z,: z,: z
21972,PC_GDP,S1314,GF0306,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21973,PC_GDP,S1314,GF0306,SE,: z,: z,: z,: z,: z,: z,: z
21974,PC_GDP,S1314,GF0306,SI,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21975,PC_GDP,S1314,GF0306,SK,0.0,0.0,0.0,0.0,0.0,0.0,0.0

We also include only the General Government Sector `S13` as a reference for the general expenditure.

In [8]:
complete_df = filtered_df.query("sector == 'S13'").reset_index(drop=True)
complete_df

,unit,sector,cofog99,geo,2015,2016,2017,2018,2019,2020,2021
0,MIO_EUR,S13,GF03,AT,4624.5,4805.4,5039.2,5226.3,5301.8,5436.8,5695.6
1,MIO_EUR,S13,GF03,BE,7166.7,7298.0,7512.9,7965.6,8075.3,8298.4,8811.8
2,MIO_EUR,S13,GF03,BG,1279.4,1113.4,1296.9,1378.0,1633.0,1670.3,1914.1
3,MIO_EUR,S13,GF03,CH,10327.2,10173.8,10196.3,10105.3,10731.1,11289.0,11320.2
4,MIO_EUR,S13,GF03,CY,304.9,309.0,329.3,361.8,379.8,400.6,410.0
...,...,...,...,...,...,...,...,...,...,...,...
391,PC_GDP,S13,GF0306,PT,0.2,0.1,0.1,0.1,0.1,0.1,0.1 p
392,PC_GDP,S13,GF0306,RO,0.3,0.3,0.2,0.2,0.3,0.3,0.3
393,PC_GDP,S13,GF0306,SE,0.0,0.0,0.0,0.0,0.0,0.0,0.0
394,PC_GDP,S13,GF0306,SI,0.1,0.1,0.1,0.1,0.1,0.1,0.1
395,PC_GDP,S13,GF0306,SK,0.8,0.7,0.6,0.5,0.5,0.5,0.5

We can also split the dataset in two according to the unit used to measure the expenditure so that if we need them separatedly we already have them.

In [9]:
df_by_million_euros = complete_df.query("unit == 'MIO_EUR'").reset_index(drop=True)
df_by_million_euros

,unit,sector,cofog99,geo,2015,2016,2017,2018,2019,2020,2021
0,MIO_EUR,S13,GF03,AT,4624.5,4805.4,5039.2,5226.3,5301.8,5436.8,5695.6
1,MIO_EUR,S13,GF03,BE,7166.7,7298.0,7512.9,7965.6,8075.3,8298.4,8811.8
2,MIO_EUR,S13,GF03,BG,1279.4,1113.4,1296.9,1378.0,1633.0,1670.3,1914.1
3,MIO_EUR,S13,GF03,CH,10327.2,10173.8,10196.3,10105.3,10731.1,11289.0,11320.2
4,MIO_EUR,S13,GF03,CY,304.9,309.0,329.3,361.8,379.8,400.6,410.0
...,...,...,...,...,...,...,...,...,...,...,...
193,MIO_EUR,S13,GF0306,PT,270.4,210.0,224.1,229.9,242.3,219.5,232.3 p
194,MIO_EUR,S13,GF0306,RO,556.9,444.5,439.6,485.0,574.9,612.5,662.4
195,MIO_EUR,S13,GF0306,SE,43.8,51.0,63.7,79.4,57.3,52.8,54.4
196,MIO_EUR,S13,GF0306,SI,38.9,40.6,48.3,48.4,52.0,53.3,62.2
197,MIO_EUR,S13,GF0306,SK,623.0,554.6,477.0,426.1,472.0,501.8,523.9

In [10]:
df_by_gdp_percentage = complete_df.query("unit == 'PC_GDP'").reset_index(drop=True)
df_by_gdp_percentage

       unit sector cofog99 geo 2015  2016  2017  2018  2019  2020   2021
0    PC_GDP    S13    GF03  AT  1.3   1.3   1.4   1.4   1.3   1.4    1.4
1    PC_GDP    S13    GF03  BE  1.7   1.7   1.7   1.7   1.7   1.8    1.8
2    PC_GDP    S13    GF03  BG  2.8   2.3   2.5   2.5   2.7   2.7    2.7
3    PC_GDP    S13    GF03  CH  1.7   1.6   1.7   1.6   1.7   1.7    1.7
4    PC_GDP    S13    GF03  CY  1.7   1.6   1.6   1.7   1.6   1.8    1.7
..      ...    ...     ...  ..   ...   ...   ...   ...   ...   ...    ...
193  PC_GDP    S13  GF0306  PT  0.2   0.1   0.1   0.1   0.1   0.1   0.1 p
194  PC_GDP    S13  GF0306  RO  0.3   0.3   0.2   0.2   0.3   0.3    0.3
195  PC_GDP    S13  GF0306  SE  0.0   0.0   0.0   0.0   0.0   0.0    0.0
196  PC_GDP    S13  GF0306  SI  0.1   0.1   0.1   0.1   0.1   0.1    0.1
197  PC_GDP    S13  GF0306  SK  0.8   0.7   0.6   0.5   0.5   0.5    0.5

[198 rows x 11 columns]

In [12]:
df_by_gdp_percentage.to_csv('../processed_data/clean_datasets/D6_clean.csv', index=False)